
.header_area1{
    background-color:blue;
}

.header_area2{
    background-color:green;
    margin-left: 5%;
    margin-right: 5%;
    padding-top:10%;
    padding-bottom:10%;
    padding-left: 10%;
    padding-right: 10%;
    z-index:1;
}

.sub-topic{
    color: aqua;
}

.title_name{
    text-align: center;
    font-size:40px;

}

.explanation_area{
    background-color:yellow;
    padding-top: 3%;
    padding-bottom: 3%;

}

.rule_explanation_area{
    background-color:yellow;
    padding-top: 3%;
    padding-bottom: 3%;
}

.btn{
    width:300px;
    height:200px;
}
.start_bottom_area{
    width:200px;
    height:150px;
    background-color:chartreuse;


}

.start_bottom {
  color: #fff;
  background-color: #eb6100;
}

.start_bottom:hover {
  color: #fff;
  background: #f56500;
}

.start_bottom {
   border-radius: 100vh;
}