{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">

<body>
    <header>
    </header>
    <div id='app'>
    <section class="header_area1">
        <div class="header_area2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="title_name">{{title}}</h1>
                <div class="explanation_area">
                    <h1 class="sub-topic">遊び方</h1>
                    <p>1.単語の文字数を選択します。</p>
                    <p>2.バック数(n)を選択します。</p>
                    <p>3.問題数を選択します。</p>
                    <p>4.ゲームが始まったら任意の文字数の単語を入力します。漢字等でも可</p>
                    <p>5.一定の回数の単語を回答するとn前の単語が回答できるようになるので入力します。</p>
                    <p>6.同時に新しい単語を登録し続けます。</p>
                    <p>7.これを指定の問題数まで繰り返していただきます。</p>
                    <p>8.ぜひ、ワーキングメモリーを高めてください</p>
                </div>
                <div class="rule_explanation_area">
                    <h1 class="sub-topic">ルール</h1>
                    <ul>
                        <li>3回同じ問題で間違えると終了する</li>
                        <li>『諦める』のボタンを押すと終了する</li>
                        <li>２分間回答がない場合も終了とする</li>
                        <li>ブラウザを終了すると終了してしまうのでご注意ください。</li>
                    </ul>
                </div>
                
                    {{message}}
                </div>
            </div>
        </div>
        </section>
    </div>
</body>
</html>